<%- include('partials/header')%>
<%- include('partials/content-header')%>

<main>
  <div class="container">
    <h1>Campgrounds List</h1>

    <div class="row my-3">
      <% campgrounds.forEach( campground => { %>
        <div class="col-sm-12 col-md-3">
          <div class="card my-3">
            <img src=<%= campground.image %> class="card-img-top" alt=<%= campground.name %>>
            <div class="card-body">
              <h5 class="card-title"><%= campground.name %></h5>
            </div>
          </div> 
        </div>
      <% }) %>
    </div>

  </div>
</main>

<%- include('partials/footer') %>

